@import '@/assets/styles/variables.less';
@cur-primary-color: #b8b5b5;

.searchContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.1rem;
  background-color: @deeply-border_bg-color;
  gap: 0.05rem;
  .searchBox {
    flex: 6;
  }
  .addBox {
    flex: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 0.05rem;
  }
  .addBox:hover {
    color: @cur-primary-color;
  }
}

:global {
  .addContent {
    .ant-tooltip-inner {
      border-radius: 0.05rem !important;
      li {
        height: 0.25rem;
        line-height: 0.25rem;
      }
      li:hover {
        cursor: pointer;
        color: @cur-primary-color;
      }
    }
  }
}
